<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

  <display-name>lightblue Metadata Management</display-name>

  <servlet>
      <servlet-name>health</servlet-name>
      <jsp-file>/health.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
      <servlet-name>health</servlet-name>
      <url-pattern>/health</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>rest-request</servlet-name>
    <servlet-class>com.redhat.lightblue.client.http.servlet.LightblueMetadataProxyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>rest-request</servlet-name>
    <url-pattern>/rest-request/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>roles</servlet-name>
    <servlet-class>com.redhat.lightblue.applications.RolesServlet</servlet-class>
    <init-param>
        <param-name>noAuth</param-name>
        <param-value>true</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>roles</servlet-name>
    <url-pattern>/js/lightblue-roles.js</url-pattern>
  </servlet-mapping>

</web-app>
