<!DOCTYPE html>
<html lang="en" ng-app="datamgmt">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Lightblue Data Management</title>

    <!-- Bootstrap core CSS -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="bower_components/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet">
    <link href='bower_components/jsoneditor/dist/jsoneditor.css' rel='stylesheet'>
    <link href="bower_components/angular-ui-select/dist/select.css" rel="stylesheet">

    <link href="css/theme.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body ng-controller="DataCtrl">

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="NavCtrl">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <p class="navbar-brand">Lightblue Data Management</p>
        </div><!--/.navbar-header -->
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li ng-class="{active: isActive('/find')}"><a href="#/find">Find</a></li>
            <li ng-class="{active: isActive('/insert')}"><a href="#/insert">Insert</a></li>
            <li ng-class="{active: isActive('/save')}"><a href="#/save">Save</a></li>
            <li ng-class="{active: isActive('/update')}"><a href="#/update">Update</a></li>
            <li ng-class="{active: isActive('/delete')}"><a href="#/delete">Delete</a></li>
          </ul>
          <!-- Right aligned nav items -->
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown" dropdown>
              <a href class="dropdown-toggle" dropdown-toggle ng-cloak>
                {{isEnvironmentSelected() ? environment.alias : "Select an environment"}} <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li ng-repeat="env in environments" ng-click="setEnvironmentByAlias(env.alias)">
                  <a href>{{env.alias}}</a>
                </li>
                <li class="divider"></li>
                <li><a href="#/environments">Manage environments</a></li>
              </ul>
            </li>
            <li ng-class="{active: isActive('/environments')}"><a href="#/environments">Manage environments</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div><!--/.container -->
    </div>

    <div class="container" role="main" ng-view></div>


    <!-- Bootstrap core JavaScript
    ================================================== -->

    <!-- Angular -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>

    <!-- Angular directives -->
    <script src="bower_components/angular-ui-select/dist/select.js"></script>
    <script src="bower_components/angular-ui-bootstrap-bower/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>

    <!-- Other components -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/jsoneditor/dist/jsoneditor.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/lightblue.js/dist/lightblue.min.js"></script>

    <!-- App -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/filters.js"></script>

    <!-- Angular wrapper around lightblue client -->
    <script src="js/lightblue/ng-lightblue.js"></script>
  </body>
</html>
