body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.jsoneditor {
  margin-bottom: 1em;
}

div.btn-group > label.btn > input[type=radio] {
  position: absolute;
  z-index: -1;
  filter: alpha(opacity=0);
  opacity: 0;
}

.ng-hide.wraps-json-editor {
  display: block !important;
  height:0px !important;
  margin:0px !important;
  padding:0px !important;
  visibility: hidden;
}

.ng-hide.wraps-json-editor lb-json-editor {
  height:0px !important;
  margin:0px !important;
  padding:0px !important;
}

.ng-hide.wraps-json-editor .jsoneditor {
  border:none !important;
}

.btn.pull-right + .btn.pull-right {
  margin-right: .5em;
}

.navbar-inverse .navbar-nav > .environment > a {
  color: #fff;
}

.dropdown-menu {
  min-width: 13em;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
  vertical-align: middle;
}

/*.ng-touched.ng-invalid {
  background-image: -webkit-linear-gradient(bottom, #f2dede 0%, #e7c3c3 100%);
  background-image:      -o-linear-gradient(bottom, #f2dede 0%, #e7c3c3 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f2dede), to(#e7c3c3));
  background-image:         linear-gradient(to top, #f2dede 0%, #e7c3c3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe7c3c3', endColorstr='#fff2dede', GradientType=0);
  background-repeat: repeat-x;
  border-color: #dca7a7;
}*/