body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.ace_editor {
  margin-bottom: 1em;
}

div.btn-group > label.btn > input[type=radio] {
  position: absolute;
  z-index: -1;
  filter: alpha(opacity=0);
  opacity: 0;
}