html, body {
   height: 100%;
}

h3 {
   font-size: 22px;
   margin: 30px 0 30px 0;
}

#logo {
    padding: 10px;
}
.well {
   -webkit-border-radius: 0;
   -moz-border-radius: 0;
   border-radius: 0;
}

.social-buttons {
   line-height: 30px;
   text-align: center;
}
.social-buttons .twitter-share-button {
   vertical-align: middle;
}
.social-buttons .fb-like {
   vertical-align: middle;   
}
.social-buttons > div {
   vertical-align: middle !important;   
}

/* http://cssarrowplease.com/ */
.arrow_box {
   position: relative;
   background: #414141;
   border: 2px solid black;
   border-radius: 5px;
   padding: 3px 7px;
   color: white;
}
.arrow_box:after, .arrow_box:before {
   left: 100%;
   border: solid transparent;
   content: " ";
   height: 0;
   width: 0;
   position: absolute;
   pointer-events: none;
}

.arrow_box:after {
   border-color: rgba(136, 183, 213, 0);
   border-left-color: #414141;
   border-width: 10px;
   top: 50%;
   margin-top: -10px;
}
.arrow_box:before {
   border-color: rgba(194, 225, 245, 0);
   border-left-color: black;
   border-width: 12px;
   top: 50%;
   margin-top: -12px;
}

#footer-push {
   height: 50px;
}

#footer {
   font-size: 13px;
   height: 200px;
   line-height: 200px;
   padding-left: 50px;
   background-color: gray;
   border-top: 1px solid black;
   margin-top: 20px;
}

#footer > p {
   vertical-align: middle;
   line-height: 200px;
   display: inline-block;
   color: white;
}
#footer > p a {
   color: white;
   text-decoration: underline;
}

.banner {
   float: right;
   width: 130px;
   margin-left: 35px;
}

.navbar {
   height: 220px;
   line-height: 200px;
   -webkit-border-radius: 0;
   -moz-border-radius: 0;
   border-radius: 0;
   background-color: steelblue;
   text-align: center;
   border-bottom: 1px solid gray;
}

.navbar .logo {
   vertical-align: middle;
   display: inline-block;
   font-size: 76px;
   color: white;
}
.navbar .mate {
   color: black;
}
.navbar .logo img {
   margin-right: 30px;
   margin-left: -40px;
   margin-top: -10px;
}
.navbar .logo:hover {
   text-decoration: none;
}

.navbar .features {
   display: block;
   margin-top: -30px;
}
.navbar .features li {
   display: inline-block;
   margin-left: 20px;
   color: white;
   font-size: 15px;
}
.navbar .features li:before {
   content: '☘';
   margin-right: 5px;
   font-size: 1.5em;
}


#json {
   min-height: 120px;
   width: 100%;
}

#paste {
   position: relative;
}
#beautify {
   position: absolute;
   right: 80px;
   top: 10px;
}
#uglify {
   position: absolute;
   right: 20px;
   top: 10px;
}
#permalink {
   position: absolute;
   right: 160px;
   top: 10px;
}
#permalink-tip {
   position: absolute;
   right: 260px;
   top: 10px;
   font-size: 10px;
}
#permalinks-number {
   position: absolute;
   right: 270px;
   top: -20px;
   cursor: normal;
}
#permalinks-number label {
   font-size: 10px;
   margin-right: 5px;
}

.header {
   overflow: hidden;
   margin-bottom: 20px;
}

.addthis_toolbox {
   margin-top: 10px;
}

h1 {
   text-align: center;
   margin-bottom: 10px;
}
h1 img {
   float: left;
}
h1 b {
   font-size: 14px;
   float: left;
   margin-left: 10px;
}
h1 ul {
   margin: 10px 0 0 30px;
   font-weight: normal;
   float: left;
   list-style-stype: circle;
   text-align: left;
}
h1 ul li {
   font-size: 12px;
}

#legend {
   display: block;
   float: left;
   margin-top: 50px;
}

#legend span {
   padding: 10px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   color: #fff;
   line-height: 2em;
}

#legend .string  { background-color: rgba(0, 148, 8, 0.8); }
#legend .array   { background-color: rgba(45, 91, 137, 0.8); }
#legend .object  { background-color: rgba(225, 112, 0, 0.8); }
#legend .number  { background-color: rgba(73, 123, 141, 0.8); }
#legend .boolean { background-color: rgba(177, 198, 57, 0.8); }
#legend .null    { background-color: rgba(177, 198, 57, 0.8); }
#legend .note    { color: rgba(0,0,0,0.5); padding: 5px; float: right; }

#property-path {
   font-size: 14px;
   font-weight: bold;
   text-shadow: 1px 1px 1px white;
   margin-top: 10px;
   padding: 5px 15px;
}

#expander {
   cursor: pointer;
   margin-right: 20px;
}

#rest label {
   font-weight: bold;
}
#rest-callback {
   width: 70px;
   margin-right: 20px;
}
#rest-url {
   width: 500px;
   margin-right: 20px;
   margin-left: 5px;
}
label[for="json"] {
   font-weight: bold;
}

#disqus_thread {
   margin-top: 50px;
   padding-top: 20px;
   padding-bottom: 20px;
   border-top: 1px solid gray;
   border-bottom: 1px solid gray;
}

.json-editor {
   padding-top: 0;
}

.json-editor .property {
   width: 150px;
}
.json-editor .property:hover {
   opacity: .9;
}
.json-editor .value {
   width: 500px;
}
.json-editor .value:hover {
   opacity: .9;
}
.json-editor .item.appender > .property {
   margin-top: -2px;
   margin-bottom: 7px;
}

.services {
   margin-top: 50px;
}

.rate {
   width: 24px;
   height: 24px;
   border: none;
}

.counter {
   padding: 2px 4px;
   font-weight: bold;
   border: 1px solid gray;
   border-radius: 5px;
   margin-right: 5px;
   vertical-align: middle;
}

.col-rating {
   min-width: 70px;
}

.rate.rate-good {
   background: transparent url("/images/thumbs-up.gif") center center no-repeat;
}
.rate.rate-bad {
   background: transparent url("/images/thumbs-down.gif") center center no-repeat;
}

.example-request-container {
   margin-top: 10px;
   font-size: 14px;
}
.example-response-container {
   margin-top: 10px;
}

.container.service table {
   margin-top: 10px;
}


/* Viz cluster */

#vizpanel {
   overflow: scroll;
   width: 900px;
   height: 900px;
   border: 1px solid lightgray;
}

path.arc {
  cursor: move;
  fill: #fff;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node {
  font-size: 10px;
/*  pointer-events: none; */
}
.node.magnified {
   font-size: 30px;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}


/* Viz hierarchy */

/*
text {
  font-size: 11px;
  pointer-events: none;
}

text.parent {
  fill: #1f77b4;
}

circle {
  fill: #ccc;
  stroke: #999;
  pointer-events: all;
}

circle.parent {
  fill: #1f77b4;
  fill-opacity: .1;
  stroke: steelblue;
}

circle.parent:hover {
  stroke: #ff7f0e;
  stroke-width: .5px;
}

circle.child {
  pointer-events: none;
}
*/

.figurepool {
   font-family: 'Yanone Kaffeesatz', sans-serif;
   font-weight: bold;
   vertical-align: middle;
   font-size: 22px;
   display: inline;
}
.figurepool span {
   font-size: .75em;
   color: #3EA4C2;
   color: #97BD29;
   color: #7A9B23;
}
.banner-figurepool {
   display: block;
   float: right;
   line-height: 25px;
}
.banner-figurepool p {
   display: inline;
   vertical-align: bottom;
   margin-right: 10px;
}
.banner-figurepool img {
   max-width: 25px;
}

.banner-jointjs img {
   width: 100px;
}
.banner-jointjs b {
   font-size: 20px;
   margin-left: 10px;
   margin-right: 10px;
}