<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

  <display-name>Lightblue Data Management</display-name>

  <servlet>
    <servlet-name>health</servlet-name>
    <jsp-file>/health.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>health</servlet-name>
    <url-pattern>/health</url-pattern>
  </servlet-mapping>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Health check servlet (Unauth)</web-resource-name>
      <url-pattern>/health</url-pattern>
    </web-resource-collection>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Application access</web-resource-name>
      <url-pattern>/*</url-pattern>
      <http-method>GET</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>authenticated</role-name>
    </auth-constraint>
  </security-constraint>

  <security-role>
    <role-name>authenticated</role-name>
  </security-role>

</web-app>
